In [1]:
# Generate a list of random names to assign to the artists for tblArtist
import names

artist_fnames = []
for fname in range(0,100):
    fname = names.get_first_name()
    artist_fnames.append(fname)
    
artist_lnames = []
for lname in range(0,100):
    lname = names.get_last_name()
    artist_lnames.append(lname)

In [2]:
# Create a list of cities to randomly assign to each artist in tblArtist.
import random

birthplace_city = ['Phoenix', 'Denver', 'Los Angeles', 'Paris', 'New York', 'Bruges', 'Rome', 'Napoli', 'St. Petersburg', 'London',
                  'Moscow', 'Prague', 'Chicago', 'Miami', 'Seattle', 'Portland', 'San Francisco', 'Lagos', 'Cape Town', 'Tokyo',
                   'Auckland', 'Salem', 'Tucson', 'Santa Fe', 'Taos', 'Sydney', 'Perth', 'Adelaide', 'Oslo', 'Buenos Aires',
                   'Mexico City', 'Guadalajara', 'Madrid', 'Sevilla', 'Barcelona', 'Warsaw', 'Copenhagen', 'Algiers', 'Cairo',
                   'Ankara', 'Amsterdam', 'Athens', 'Bangkok', 'Beijing', 'Beirut', 'Belgrade', 'Bogota', 'Brasilia', 'Melbourne',
                   'Caracas', 'Damascus', 'Dublin', 'Belfast', 'Hanoi', 'Helsinki', 'Islamabad', 'Havana', 'Jakarta', 'Jerusalem',
                   'Kuala Lumpur', 'Kigali', 'La Paz', 'Lima', 'Manila', 'Minsk', 'Montevideo', 'New Delhi', 'Ottawa', 'Vancouver',
                   'Panama City', 'Pyongyang', 'Seoul', 'Quito', 'San Juan', 'Santiago', 'Santo Domingo', 'Singapore', 'Stockholm',
                   'Taipei', 'Tehran', 'Tripoli', 'Tunis', 'Vienna', 'Wellington', 'Canberra', 'Zagreb', 'Christchurch', 'San Diego',
                   'Raleigh', 'Boston', 'Newark', 'Halifax', 'Edinburgh', 'Exeter', 'Venice', 'Florence', 'Milan', 'Genoa', 'Marseille',
                   'Nice', 'Toulouse', 'Berlin', 'Munich', 'Dresden', 'Hamburg', 'Salzburg', 'Antwerp', 'Valencia'
                  ]

artist_birthplaces = []
for city in range(0,100):
    birthplace = random.choice(birthplace_city)
    artist_birthplaces.append(birthplace)

In [3]:
# Use the same list of artistic styles from tblCustomer and radomly distibute to all artists.

art_styles = ['Post-Modern', 'Impressionist', 'Cubist', 'Art Deco', 'Pop Art', 'Surrealism',
              'Abstract Expressionism', 'Baroque', 'Modern', 'Sculpture']

artist_styles = []
for style in range(0,100):
    artist_style = random.choice(art_styles)
    artist_styles.append(artist_style)

In [6]:
# Converting random data into a Pandas dataframe in order to transfer directly to database in local SQL Server.
import pandas as pd

# Create the dataframe columns.
artist_df = pd.DataFrame(columns=[
    'ArtistFirstName',
    'ArtistLastName',
    'ArtistBirthplace',
    'Style']
    )

# Insert the lists into the appropriate columns.
artist_df['ArtistFirstName'] = pd.Series(artist_fnames)
artist_df['ArtistLastName'] = pd.Series(artist_lnames)
artist_df['ArtistBirthplace'] = pd.Series(artist_birthplaces)
artist_df['Style'] = pd.Series(artist_styles)

artist_df.head()

  ArtistFirstName ArtistLastName ArtistBirthplace                   Style
0          Thomas     Washington           Kigali           Impressionist
1            Vera         Cooley         Valencia                  Modern
2           Hilda          Velez             Nice                 Baroque
3         Michael         Florez        Amsterdam  Abstract Expressionism
4           Maria        Kleypas     Christchurch  Abstract Expressionism

In [7]:
import pyodbc

# Establish connection to SQL Server
conn = pyodbc.connect('Driver={SQL Server};'
                     'Server=DESKTOP-VF62RP9;'
                      'Database=ArtStore;'
                      'Trusted_Connection=yes;'
                     )

In [8]:
# Create a cursor and insert dataframe into existing table in SQL Server.
cursor = conn.cursor()

for row in artist_df.itertuples():
    cursor.execute('''
        INSERT INTO ArtStore.dbo.tblArtist (ArtistFirstName, ArtistLastName, ArtistBirthplace, Style)
        VALUES (?,?,?,?)
    ''',
    row.ArtistFirstName,
    row.ArtistLastName,
    row.ArtistBirthplace,
    row.Style)
    
conn.commit()

In [11]:
# Making up one-word or two-word titles for each piece in the Artwork table.

artwork_titles = ['Sunrise', 'Sunset', 'Man', 'Woman', 'Child', 'Theater', 'Obelisk', 'Solar System', 'Stars', 'Thinking', 'Depression',
    'Solidarity', 'Hubris', 'Melting', 'Breakfast', 'The Eclipse', 'Birthday', 'Agora', 'Smokescreen', 'Plebian', 'Landscape', 'Constellation', 
    'Yearning', 'Pregnant', 'Reality', 'Settlers', 'Heavy Games', 'Tempest', 'Island', 'Vertigo', 'Atomic', 'Gunfire', 'Violence', 'Citadel',
    'Miniature', 'The Minotaur', 'Midnight Sky', 'Summer Breeze', 'Thoughtful River', 'Bright', 'The Golem', 'Ashes', 'Underground', 'Blue',
    'Giant Planet', 'Intrepid Explorer', 'Rover', 'Random Cities', 'Deep Currents', 'Undertow', 'Distant Horizon', 'The Preacher', 'Jettison',
    'Ellipsoid', 'Fertile Fields', 'People Pleaser', 'Apples', 'Jagged Veil', 'Understanding', 'Piccolo', 'Pumpkinhead', 'Diversions',
    'Confusion', '2112', 'Strange Fiction', 'A Film', 'Quest', 'Happy Gathering', 'Social Scene', 'Kitchen', 'Countertop', 'Cupboard',
    'Utensil Holder', 'Pitcher', 'Pretty Birds', 'Sorrow', 'Ecstasy', 'Drug Addict', 'Cute Kitty', 'Full Mood', 'Burlesque', 'Jump',
    'Grandstand', 'Marching Band', 'New Day', 'Wife', 'Husband', 'Marital Bliss', 'Funny Business', 'Concertina', 'Sea Shanty', 'Lemons',
    'Youth', 'Initiative', 'Yuletide', 'Overture', 'Western Mountains', 'Eastern Shores', 'Exposure', 'Quiet']

100

In [13]:
# Create a list of random years to assign to each piece of art.

art_years = []
for year in range(0,100):
    year = random.randint(1700, 2020)
    art_years.append(year)

100

In [15]:
# Create a list of prices to assign to each piece.

prices = [25, 50, 75, 100, 150, 200, 250, 300, 350, 400, 450, 500]
piece_prices = []
for price in range(0,100):
    price = random.choice(prices)
    piece_prices.append(price)

100