In [1]:
# Generating random first/last names for all customers in database.
import names

first_names = []

for first_name in range(0,10000):
    first_name = names.get_first_name()
    first_names.append(first_name)
    
last_names = []

for last_name in range(0,10000):
    last_name = names.get_last_name()
    last_names.append(last_name)

In [2]:
# Generating random phone numbers for all customers in database.
import random

def get_phone():
    n = '0000000000'
    while '9' in n[3:6] or n[3:6] == '000' or n[6] == n[7] == n[8] == n[9]:
        n = str(random.randint(10**9, 10**10-1))
    return n[:3] + '-' + n[3:6] + '-' + n[6:]

phone_numbers = []
for phone_number in range(0,10000):
    phone_number = get_phone()
    phone_numbers.append(phone_number)

In [3]:
# Generating random email addresses for all customers in database.
import random
import string

def random_char(y):
    return ''.join(random.choice(string.ascii_lowercase) for x in range(y))

res = [i[0] + j for i, j in zip(first_names, last_names)]

final_emails = []
for name in res:
    name = name.lower() + '@email.com'
    final_emails.append(name)

In [4]:
# Generate date of last purchase for each customer.
# Decided to discard this column after port to SQL Server. This data can be extracted from the Purchases table.
import datetime

def get_date(start_date, end_date):
    start_date = datetime.date(2015, 1, 1)
    end_date = datetime.date(2021, 1, 1)

    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = str(start_date + datetime.timedelta(days=random_number_of_days))
    
    return random_date

last_purchases = []
start_date = datetime.date(2015, 1, 1)
end_date = datetime.date(2021, 1, 1)
for date in range(0,10000):
    purchase_date = get_date(start_date, end_date)
    last_purchases.append(purchase_date)
    
last_purchases[:10]

['2017-06-22',
 '2018-09-28',
 '2018-02-19',
 '2020-12-30',
 '2017-03-16',
 '2015-12-10',
 '2017-10-07',
 '2016-11-07',
 '2020-04-18',
 '2017-06-03']

In [5]:
# Generate random dates to indicate when customers signed up to the ArtStore.
# If last purchase date is before signup date, we will drop the purchase date after
# data transfer to SQL Server.
# Decided to drop this coluumn in SQL Server as well.

def get_date(start_date, end_date):
    start_date = datetime.date(2015, 1, 1)
    end_date = datetime.date(2021, 1, 1)

    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = str(start_date + datetime.timedelta(days=random_number_of_days))
    
    return random_date

signup_dates = []
start_date = datetime.date(2015, 1, 1)
end_date = datetime.date(2021, 1, 1)
for date in range(0,10000):
    signup_date = get_date(start_date, end_date)
    signup_dates.append(signup_date)
    
signup_dates[:10]

['2015-01-25',
 '2015-11-09',
 '2020-03-04',
 '2017-01-22',
 '2020-10-13',
 '2020-01-12',
 '2017-09-21',
 '2016-04-26',
 '2017-08-21',
 '2015-02-12']

In [6]:
# Generate a random number of total purchases for each customer.
# If there is a purchase number for a customer without purchases we will change
# the value to null or 0 after data transfer to SQL Server.
# Decided to drop this column in SQL Server; this data can be gleaned from the Purchases table.

def num_purchases():
    num_purchases = random.randint(0,10)
    
    return num_purchases

purchases = []
for purchase in range(0,10000):
    purchase = num_purchases()
    purchases.append(purchase)
    
purchases[:10]

[7, 2, 6, 4, 3, 7, 9, 2, 1, 8]

In [7]:
# Each customer will have a preferred art style/medium that they enjoy.
# Dropped this column in SQL Server; this data can be gleaned from the Purchases table.

art_styles = ['Post-Modern', 'Impressionist', 'Cubist', 'Art Deco', 'Pop Art', 'Surrealism',
              'Abstract Expressionism', 'Baroque', 'Modern', 'Sculpture']

preferred_style = []
for style in range(0,10000):
    style = random.choice(art_styles)
    preferred_style.append(style)
    
preferred_style[:10]

['Pop Art',
 'Surrealism',
 'Modern',
 'Impressionist',
 'Cubist',
 'Baroque',
 'Baroque',
 'Impressionist',
 'Baroque',
 'Modern']

In [8]:
# Converting random data into a Pandas dataframe in order to transfer directly to database in local SQL Server.
import pandas as pd

# Create the dataframe columns.
customer_df = pd.DataFrame(columns=[
    'CustFirstName',
    'CustLastName',
    'CustPhoneNumber',
    'CustEmail',
    'MemberDate',
    'LastPurchaseDate',
    'NumberPurchases',
    'PreferredStyle']
    )

# Insert the lists into the appropriate columns.
customer_df['CustFirstName'] = pd.Series(first_names)
customer_df['CustLastName'] = pd.Series(last_names)
customer_df['CustPhoneNumber'] = pd.Series(phone_numbers)
customer_df['CustEmail'] = pd.Series(final_emails)
customer_df['MemberDate'] = pd.Series(signup_dates)
customer_df['LastPurchaseDate'] = pd.Series(last_purchases)
customer_df['NumberPurchases'] = pd.Series(purchases)
customer_df['PreferredStyle'] = pd.Series(preferred_style)

customer_df.head()

,CustFirstName,CustLastName,CustPhoneNumber,CustEmail,MemberDate,LastPurchaseDate,NumberPurchases,PreferredStyle
0,Elvira,Baker,224-262-9607,ebaker@email.com,2015-01-25,2017-06-22,7,Pop Art
1,Mary,Deal,889-508-7955,mdeal@email.com,2015-11-09,2018-09-28,2,Surrealism
2,Robert,Nickel,113-570-4935,rnickel@email.com,2020-03-04,2018-02-19,6,Modern
3,Patrick,Beam,570-663-2392,pbeam@email.com,2017-01-22,2020-12-30,4,Impressionist
4,Sara,Long,544-365-1811,slong@email.com,2020-10-13,2017-03-16,3,Cubist

In [9]:
import pyodbc

# Establish connection to SQL Server
conn = pyodbc.connect('Driver={SQL Server};'
                     'Server=DESKTOP-VF62RP9;'
                      'Database=ArtStore;'
                      'Trusted_Connection=yes;'
                     )

In [10]:
# Create a cursor and insert dataframe into existing table in SQL Server.
cursor = conn.cursor()

for row in customer_df.itertuples():
    cursor.execute('''
        INSERT INTO ArtStore.dbo.tblCustomer (CustFirstName, CustLastName, CustPhoneNumber, CustEmail,\
        MemberDate, LastPurchaseDate, NumberPurchases, PreferredStyle)
        VALUES (?,?,?,?,?,?,?,?)
    ''',
    row.CustFirstName,
    row.CustLastName,
    row.CustPhoneNumber,
    row.CustEmail,
    row.MemberDate,
    row.LastPurchaseDate,
    row.NumberPurchases,
    row.PreferredStyle)
    
conn.commit()